# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml


/composer.phar

# IntelliJ/PHPStorm
*.iml
.idea/*

.DS_Store